<html>
<head>
	<title>AJAX TEST PAGE</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>
		function testajax(){
			$.ajax({
			            url: '/claim',
			            type: 'post',
			            dataType: 'json',
			            data: {
			            		'claimtype': '없어요_테스트',
			            		'msg':'랄라라랄라라라라라라라라'
			            },
			            success: function (data) {
			                console.log(data['resultCode']);
			            },
			            error: function(error) {
			                console.log(error);
			            }
			        });
		}
	</script>
</head>
<body>
	<div class="progress progress-striped active">
	  <div class="progress-bar" style="width: 100%"></div>
	</div>
	<button type="button" class="btn btn-primary" onclick="testajax()">콜하기</button>
</body>
</html>