<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>HistoryOfGreats</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/graphs.css') }}" rel="stylesheet">
		<script src="{{ url_for('static', filename='js/common.js') }}"></script>
		<style type="text/css">
		#mask {
			  position:absolute;
			  z-index:9000;
			  background-color:#000;
			  display:none;
			  left:0;
			  top:0;
		}
		.window{
			  display: none;
			  position:absolute;
			  width: 35%;
			  z-index:10000;
		}
		</style>
	</head>
	<body>
		<script type="text/javascript">
		var data = {{ data|tojson }};
		var items = new Array();
		var lanes = new Array();
		for (var i = data.length - 1; i > 0; i--) {
			var arrTemp = new Object();
			arrTemp['depth'] = Number(data[i][4]);
			arrTemp['lane'] = data[i][3];
			arrTemp['end'] = Number(data[i][2]);
			arrTemp['start'] = Number(data[i][1]);
			arrTemp['id'] = data[i][0];
			arrTemp['desc'] = data[i][5];
			arrTemp['url'] = data[i][6];
			items.push(arrTemp);
			if(lanes.indexOf(data[i][3]) == -1) {
				lanes.push(data[i][3]);
			}
		};
		var laneLength = lanes.length,
			timeBegin = 0,
			timeEnd = 2015,
			lineSplit = 100;

		var laneVertical = function(){
			var lv = new Array();
			minYear = timeBegin - timeBegin % lineSplit + lineSplit; // 223 년 -> 300 년
			maxYear = timeEnd - timeEnd%lineSplit; // 1928 년 -> 1900 년
			for (var i = minYear; i <= maxYear; i = i + lineSplit) {
				lv.push(i);
			};
			return lv;
		}

		// 설명
		var msg = '1. 누구랑 누구랑 같은 시대에 살았을까요?\n';
		      msg += '2. 이름을 누르면 설명으로 이동합니다.\n';
		      msg += '3. 누구나 인물을 추가할 수 있습니다.\n';
		      msg += '4. 추가문의: bumkyu.lee@gmail.com\n';
		alert(msg);

		// 국가의 순서 구하기
		function getNationalitySeq(nationality){
			return lanes.indexOf(nationality);
		}
		// 국가 별 데이터 개수 구하기
		function getNationalityCnt(nationality){
			var count = 0;
			for (var i = items.length - 1; i >= 0; i--) {
				if (items[i].lane == nationality) {  count++; }
			}
			return count;
		}
		// 국가별 미니스타일 아이템 번호 구하기
		function getMiniItemNo(nationality){
			return 'miniItem'+getNationalitySeq(nationality)%6;
		}
		// Max Depth 구하기
		function getMaxDepth(nationality){
			var maxDepth = 1;
			for (var i = items.length - 1; i >= 0; i--) {
				if (items[i].lane == nationality) {
					if (maxDepth < items[i].depth){
						maxDepth = items[i].depth;
					}
				}
			}
			return maxDepth;
		}
		// Depth의 총 합 구하기
		function getSumMaxDepth(){
			var sum = 0;
			for (var i = lanes.length - 1; i >= 0; i--) {
				sum += getMaxDepth(lanes[i]);
			}
			return sum;
		}
		// 이 전까지의 Depth 구하기
		function getSumBeginDepth(nationality){
			var sumDepth = 0;
			for (var i = lanes.length - 1; i >= 0; i--) {
				if (lanes[i] == nationality) { break; };
				sumDepth += getMaxDepth(lanes[i]);
			};
			return sumDepth;
		}
		</script>
		<script type="text/javascript">
		var w = window,
		    d = document,
		    e = d.documentElement,
		    g = d.getElementsByTagName('body')[0],
		    screenWidth = w.innerWidth || e.clientWidth || g.clientWidth,
		    screenHeight = w.innerHeight|| e.clientHeight|| g.clientHeight;

		    screenWidth = 4000
		    screenHeight = 3000

		var m = [10, 10, 10, 10], //top right bottom left
			w = screenWidth - m[1] - m[3],
			h = screenHeight - m[0] - m[2],
			miniHeight = 0
			mainHeight = h - miniHeight - 30;

		// 유닛 높이 구하기
		var mainHeightUnit = mainHeight / getSumMaxDepth();
		var miniHeightUnit = miniHeight / getSumMaxDepth();

		// 유닛 길이 구하기(세로선)
		var lineWidthUnit = screenWidth / (timeEnd - timeBegin);

		//scales
		var x = d3.scale.linear()
				.domain([timeBegin, timeEnd])
				.range([0, w]);
		var x1 = d3.scale.linear()
				.range([0, w]);
		var y1 = function(nationality) { return mainHeightUnit*(getMaxDepth(nationality) + getSumBeginDepth(nationality)); };
		var y2 = function(nationality) { return miniHeightUnit*(getMaxDepth(nationality) + getSumBeginDepth(nationality)); };
		var y1_label = function(nationality) { return mainHeightUnit*(getMaxDepth(nationality)/2+ getSumBeginDepth(nationality)); }
		var y2_label = function(nationality) { return miniHeightUnit*(getMaxDepth(nationality)/2+ getSumBeginDepth(nationality)); }
		var x_vertical = function(year) { return year * lineWidthUnit; }

		var chart = d3.select("body")
					.append("svg")
					.attr("width", w + m[1] + m[3])
					.attr("height", h + m[0] + m[2])
					.attr("class", "chart");

		chart.append("defs").append("clipPath")
			.attr("id", "clip")
			.append("rect")
			.attr("width", w)
			.attr("height", mainHeight);

		chart.append("rect")
				.attr("id","highlightbox")
				.attr("x",100)
				.attr("y",-50)
				.attr("width",100)
				.attr("height",mainHeight+200)
				.attr("opacity",0);

		var main = chart.append("g")
					.attr("transform", "translate(" + m[3] + "," + m[0] + ")")
					.attr("width", w)
					.attr("height", mainHeight)
					.attr("class", "main");


		//main lanes and texts
		main.append("g").selectAll(".laneLines")
			.data(items)
			.enter().append("line")
			.attr("x1", 0)
			.attr("y1", function(d) {return y1(d.lane);})
			.attr("x2", w)
			.attr("y2", function(d) {return y1(d.lane);})
			.attr("stroke", "#f2f2f2");

		//세로선추가
		main.append("g").selectAll(".laneLines")
			.data(laneVertical())
			.enter().append("line")
			.attr("x1", function(d) {return x_vertical(d);})
			.attr("y1", 0)
			.attr("x2", function(d) {return x_vertical(d);})
			.attr("y2", screenHeight)
			.attr("stroke", "#f2f2f2");

		//세로 년도 추가
		main.append("g").selectAll(".laneText")
			.data(laneVertical())
			.enter().append("text")
			.attr("x", function(d) {return x_vertical(d);})
			.text(function(d) {return d;})
			.attr("y", 0)
			.attr("class", "yearText");

		//국가명 추가
		main.append("g")
			.attr("id","names")
			.selectAll(".laneText")
			.data(lanes)
			.enter().append("text")
			.text(function(d) {return d;})
			.attr("x", 30)
			.attr("y", function(d, i) {return y1_label(d);})
			.attr("dy", ".3ex")
			.attr("text-anchor", "middle")
			.attr("class", "laneText");

		// scroll stop detector
		;(function ($) {
		    var on = $.fn.on, timer;
		    $.fn.on = function () {
		        var args = Array.apply(null, arguments);
		        var last = args[args.length - 1];

		        if (isNaN(last) || (last === 1 && args.pop())) return on.apply(this, args);

		        var delay = args.pop();
		        var fn = args.pop();

		        args.push(function () {
		            var self = this, params = arguments;
		            clearTimeout(timer);
		            timer = setTimeout(function () {
		                fn.apply(self, params);
		            }, delay);
		        });

		        return on.apply(this, args);
		    };
		}(this.jQuery || this.Zepto));

		var opacity = true;
		var y_position = $(window).scrollTop();
		var y_move = false;
		$(window).scroll(function(){
			y_move = y_position != parseInt($(window).scrollTop());
			console.log(y_position + " / " + $(window).scrollTop());
			console.log(y_move);
			y_position = parseInt($(window).scrollTop());
			if (opacity && !y_move) {
				main.selectAll("#names")
					.transition()
					.duration(150)
					.style("opacity",0);
				opacity = false;
			};
		});

		$(window).on('scroll', function(e) {
			var position_horizontal = parseInt($(this).scrollLeft());
			$("g#names").attr("transform","translate("+position_horizontal+",0)");
			main.selectAll("#names")
				.transition()
				.duration(150)
				.style("opacity",1);
			opacity = true;
		}, 100);

		var itemRects = main.append("g").attr("clip-path", "url(#clip)");

		display();

		function display() {
			var rects, labels,
				minExtent = timeBegin,
				maxExtent = timeEnd,
				visItems = items.filter(function(d) {return d.start < maxExtent && d.end > minExtent;});

			x1.domain([minExtent, maxExtent]);

			//update main item rects
			rects = itemRects.selectAll("rect")
			        .data(items, function(d) { return d.id; })
				.attr("x", function(d) {return x1(d.start);})
				.attr("width", function(d) {return x1(d.end) - x1(d.start);});

			rects.enter()
				.append("rect")
				.attr("class", function(d) {return getMiniItemNo(d.lane);})
				.attr("x", function(d) {return x1(d.start);})
				.attr("y", function(d) {return  mainHeightUnit*(getSumBeginDepth(d.lane)+d.depth-1)+1.5; })
				.attr("width", function(d) {return x1(d.end) - x1(d.start);})
				.attr("height", function(d) {return .9 * mainHeightUnit;})
				.attr("rx", 3)
				.attr("ry", 3)
				.attr("style", "cursor:pointer")
				.on('click',function(d){  showHighlight(
					x1(d.start),
					x1(d.end) - x1(d.start),
					getMiniItemNo(d.lane),
					d.url
				); });

			rects.exit().remove();

			//update the item labels
			labels = itemRects.selectAll("text")
				.data(visItems, function (d) { return d.id; })
				.attr("x", function(d) {return x1(Math.max(d.start, minExtent) + 2);});

			labels.enter()
				.append("text")
				.text(function(d) {return d.id + " (" + d.start + "~"+d.end+") ";})
				.attr("x", function(d) {return x1(Math.max(d.start+2, minExtent));})
				.attr("y", function(d) {return mainHeightUnit*(getSumBeginDepth(d.lane)+d.depth-0.25);  })
				.attr("text-anchor", "start")
				.attr("style", "cursor:pointer")
				.on('click',function(d){  showHighlight(
					x1(d.start),
					x1(d.end) - x1(d.start),
					getMiniItemNo(d.lane),
					d.url
				); });

			labels.exit().remove();

		}

		function hideHighlight(){
			chart.select("#highlightbox")
					.attr("opacity",0);
			$("#info").hide();
		}
		function showHighlight(x,width,color,url){
			hideHighlight();
			setTimeout(function(){
				chart.select("#highlightbox")
					.attr("x",x+m[3] )
					.attr("width",width)
					.attr("class",color)
					.attr("opacity",0.3);
				$('#info').attr('href',url);
				$("#info").show();
				}
				, 30);
		}
		</script>

		<div class = "infobox">
			<a id="info" target="_blank"  class="btn btn-info btn-lg infobtn" style="display:none">보러가기</a>
			<a id="claim" class="btn btn-warning btn-lg infobtn">문의하기</a>
			<a id="add" class="btn btn-danger btn-lg infobtn">추가하기</a>
		</div>
		<div id="mask"></div>

		<!-- 추가하기 윈도우 창 -->
		<div class="window" id="addwindow">
			  <div class="modal-dialog" style="width:100%">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title">인물을 추가합니다</h4>
			      </div>
			      <div class="modal-body">

			      	<form class="form-horizontal">
				  <fieldset>
				    <div class="form-group">
				      <label for="name" class="col-lg-2 control-label">이름</label>
				      <div class="col-lg-10">
				        <input type="text" class="form-control" id="name" placeholder="홍길동">
				      </div>
				    </div>
				    <div class="form-group">
				      <label for="nationality" class="col-lg-2 control-label">국가</label>
				      <div class="col-lg-10">
				        <select class="form-control" id="nationality">
				          <option>한국</option>
				          <option>미국</option>
				          <option>일본</option>
				          <option>중국</option>
				          <option>프랑스</option>
				        </select>
				      </div>
				    </div>
				 </fieldset>
				<p class="text-danger" id="result" style="text-align: center; display:none">
					이미 있는 이름입니다 [
					<span id="searchname" style="color:gray;">홍길동</span>
					]으로 검색해보세요
				</p>
				</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="addClose()">닫기</button>
			        <button type="button" class="btn btn-primary" onclick="addWarning('임꺽정');">추가하기</button>
			      </div>
			    </div>
			  </div>
		</div>

		<!-- 문의하기  윈도우 창 -->
		<div class="window" id="claimwindow">
			  <div class="modal-dialog" style="width:100%">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title">여보세요</h4>
			      </div>
			      <div class="modal-body">
				<p class="text-info">
					어떤 말이든 환영합니다. :)
				</p>
			      	<form class="form-horizontal">
				  <fieldset>
				    <div class="form-group">
				      <label for="claimtype" class="col-lg-2 control-label">말머리</label>
				      <div class="col-lg-10">
				        <select class="form-control" id="claimtype">
				          <option value ='1'>고마워요</option>
				          <option value ='2'>할 말 있어요</option>
				          <option value ='3'>데이터가 이상해요</option>
				        </select>
				      </div>
				    </div>
				    <div class="form-group">
				      <label for="claimtext" class="col-lg-2 control-label">내용</label>
				      <div class="col-lg-10">
				        <textarea class="form-control" rows="3" id="claimtext"></textarea>
				      </div>
				    </div>
				 </fieldset>
				</form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="claimClose()">닫기</button>
			        <button type="button" class="btn btn-primary" onclick="alert('보내기 작업중');">보내기</button>
			      </div>
			    </div>
			  </div>
		</div>

		<script>
			// 마스크 띄우기
			function maskOpen(){
			        //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채운다.
			        $('#mask').css({'width':screenWidth,'height':screenHeight});

			        //애니메이션 효과
			        $('#mask').fadeTo("slow",0.3);

			        // 스크롤막기
			        blockWheel();
			}
			// 마스크 끄기
			function maskClose(){
				playWheel();
				$('#mask').hide();
			}
			// 추가 창 띄우기
			function addOpen(){
			        // 모든 창 닫기
			        allClose();

			        // 마스크띄우기
			        maskOpen();

			        //창띄우기
			        center('addwindow');
			        $('#addwindow').show();
			}
			function addClose(){
				maskClose();
				$('#addwindow').hide();
				addInit();
			}
			function addInit(){
				$('#result').hide();
			}
			function addWarning(searchname){
				$('#searchname').text(searchname);
				$('#result').show();
			}
			function claimOpen(){
			        // 모든 창 닫기
			        allClose();

			        // 마스크띄우기
			        maskOpen();

			        //창띄우기
			        center('claimwindow');
			        $('#claimwindow').show();
			}
			function claimClose(){
				    $('#claimwindow').hide();
				    maskClose();
				    claimInit();
			}
			function claimInit(){
				$('#claimtext').val('');
				$("#claimtype").val('1');
			}
			function allClose(){
				addClose();
				claimClose();
				alert('버튼 작업중입니다');
			}
			// 추가 버튼 클릭 이벤트
			$('#add').click(function(e){
				e.preventDefault();
				addOpen();
			});
			// 문의하기 버튼 클릭 이벤트
			$('#claim').click(function(e){
				e.preventDefault();
				claimOpen();
			});
			//검은 막 클릭 이벤트
			$('#mask').click(function () {
				allClose();
			});
		</script>
	</body>
</html>