<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
       <meta http-equiv="content-type" content="text/html; charset=utf-8">
       <title>힐링타임</title>
       <style>
       body {
	background: url({{url}}) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
       </style>
       <script type="text/javascript">
	function on_key_down() {
		var keycode = event.keyCode;
		if ( keycode == 37)  alert('왼쪽');
		else if ( keycode == 38)  alert('위쪽');
		else if ( keycode == 39)  alert('오른쪽');
		else if ( keycode == 40)  alert('아래쪽');
	}
       </script>
<body onkeydown='on_key_down()'>
</body>
</html>